[submodule "FW/components/esp32-neopixel"]
	path = FW/components/esp32-neopixel
	url = https://github.com/HandHeldLegend/esp32-neopixel
[submodule "FW/common"]
	path = FW/common
	url = https://github.com/mitchellcairns/HHL-GC-Common
