FW/build/*
FW/build/bootloader/*
FW/build/partition_table/*
!FW/build/bootloader/bootloader.bin
!FW/build/partition_table/partition-table.bin 
!FW/build/gc-pocket-adapter.bin
FW/managed_components/*

.vscode/
