FW/managed_components/*
.vscode/

FW/build/partition_table/*
!FW/build/partition_table/partition-table.bin

FW/build/bootloader/*
!FW/build/bootloader/bootloader.bin




FW/build/ldgen_libraries.in

FW/build/bootloader-prefix/

FW/build/esp-idf/

FW/build/config/

FW/build/CMakeFiles/

FW/build/.bin_timestamp

FW/build/.ninja_deps

FW/build/.ninja_log

FW/build/app-flash_args

FW/build/bootloader-flash_args

FW/build/build.ninja

FW/build/cmake_install.cmake

FW/build/CMakeCache.txt

FW/build/compile_commands.json

FW/build/config.env

FW/build/flash_app_args

FW/build/flash_args

FW/build/flash_args.in

FW/build/flash_bootloader_args

FW/build/flash_project_args

FW/build/flasher_args.json

FW/build/gc-pocket-adapter.elf

FW/build/gc-pocket-adapter.map

FW/build/kconfigs_projbuild.in

FW/build/kconfigs.in

FW/build/ldgen_libraries

FW/build/partition-table-flash_args

FW/build/project_description.json

FW/build/project_elf_src_esp32s3.c

FW/build/x509_crt_bundle.S
